#captcha-container {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
}
#verify-section {
    display: flex;
    align-items: center;
}
#verify-checkbox {
    margin-right: 10px;
}
#captcha-label {
    margin-right: 20px;
}
#brand {
    font-weight: bold;
}
.success, .failure {
    display: none;
}
#success-icon, #failure-icon {
    width: 35px;
    height: 35px;
    margin-left: 5px;
}
